@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@font-face {
    font-family: "Geist";
    src: url("/assets/Geist.woff2") format("woff2");
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-ejemplo-text: #f8f8ff;

    --font-sans: 'Geist', system-ui, sans-serif;
}

.social-buttons {
 @apply p-2 w-12 h-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform;   
}